<?php
require_once 'vendor/autoload.php';
use src\util\Migration;
use Illuminate\Database\Schema\Blueprint;
use Illuminate\Support\Facades\Schema;

class $className extends Migration
{
    /**
     * Run the migrations.
     *
     * @return void
     */
    public function up()
    {
        //Seu código aqui;
    }

    /**
     * Reverse the migrations.
     *
     * @return void
     */
    public function down()
    {
        //Seu código aqui;
    }
}